:root {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #D60000;
}

img {
  width: inherit;
  height: inherit;
  display: block;
  object-fit: cover;
}

html {
  height: fill-available;
  height: -webkit-fill-available;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

body {
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}

.parent-table {
  width: calc(100vw - 32px);
  height: calc(100dvh - 32px);
  max-height: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  scroll-snap-align: start;
}

.child-table {
  width: 800px;
  max-width: 100%;
  margin: auto;
  border-spacing: 20px;
}

.child-table td {
  padding: 0%;
  height: 150px;
  width: 400px;
  max-width: 100%;
  background-color: white;
}

.content {
  padding: 32px;
}

.child-table tr:first-child td:first-child { 
  border-top-left-radius: 16px;
}

.child-table tr:first-child td:last-child {
   border-top-right-radius: 16px;
}

.child-table tr:last-child td:first-child, .bottom-left-corner { 
  border-bottom-left-radius: 16px;
}

.child-table tr:last-child td:last-child { 
  border-bottom-right-radius: 16px;
}